@model DreamCarsMVC3.Models.Engine

@{
    ViewBag.Title = "Details";
}

<h2>@Model.AvailableOn[0].Manufacturer.Name @Model.Name</h2>

<table>
    <tr>
        <td><h3>Cylinders:</h3></td>
        <td><h3>@Model.NumberOfCylinders</h3></td>
    </tr>
    <tr>
        <td><h3>Liters:</h3></td>
        <td><h3>@Model.Liters</h3></td>
    </tr>
    <tr>
        <td><h3>Break Horsepower:&nbsp;&nbsp;&nbsp;</h3></td>
        <td><h3>@Model.BreakHorsepower</h3></td>
    </tr>
    <tr>
        <td><h3>Available In:</h3></td>
        <td><h3>@foreach (var item in @Model.AvailableOn)
                {
            @Html.ActionLink(item.Name, "Details", "Models", new { id = item.ModelId }, null)
            <text> | </text>
        }</h3></td>
    </tr>
</table>
